/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  --header-background-url: url('../images/cover-image-dark.png');
  --decor-color: #FF0070;
  --background-color: #000028;
  --title-color: #DB00FF;
  --block-background-color: #FF0070;
  --container-text-color: #F1B2CE;
  --visible: visible;
}
