/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-attachment: fixed;
  height: 100vh;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 23.4px;
  font-size: 18px;
  display: grid;
  gap: var(--page-gap);
}

.header {
  position: relative;
  height: 100vh;
  padding: var(--header-padding);
  background-image: var(--header-background-url);
  background-size: cover;
  background-position: center;
  padding-bottom: var(--header-padding-bottom);
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  box-sizing: border-box;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--decor-gap);
  right: var(--decor-gap);
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: var(--decor-gap);
  left: var(--decor-gap);
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  visibility: var(--visible);
  color: var(--decor-color);
  inset-block-start: var(--header-padding);
  inset-inline-end: calc(var(--header-padding) + 3px + 25px);
}

.header__rec::before {
  position: absolute;
  content: "";
  visibility: var(--visible);
  block-size: 5px;
  inline-size: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--decor-color);
  color: var(--decor-color);
  background-color: var(--decor-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

.title {
  justify-self: left;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--block-background-color);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 0 13px;
  text-transform: lowercase;
  color: var(--decor-color);
  line-height: 26px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  outline-offset: -1px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.main {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-gap);
}

.main__title {
  color: var(--decor-color);
}

.main__title-last {
  margin-bottom: -1px;
}

.section {
  display: grid;
  gap: var(--section-gap);
}

.main__container {
  display: grid;
  gap: 10px;
  height: fit-content;
}

.section-container-text,
.section-container-text-what {
  display: grid;
  gap: var(--section-gap);
}

.container-title-block {
  background-color: var(--block-background-color);
}

.container-title-text {
  font-weight: bold;
}

.container-title-text-normal {
  font-weight: normal;
}

.main__container-text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--block-background-color);
}

.main__container-text-link:hover {
  outline: none;
  border-bottom: 1px solid var(--container-text-color);
}

.main__container-text-link:focus {
  outline: none;
}

.main__container-text-link:focus-visible {
  outline: 1px solid var(--container-text-colorr);
}

.main__section-image {
  display: grid;
  gap: var(--decor-gap);
}

.main__container-text {
  color: var(--container-text-color);
}

.main__container-block-image {
  line-height: 0;
}

.main__container-block-image img {
  width: 100%;
  height: auto;
}

.main__container-block-images {
  display: grid;
  gap: var(--decor-gap);
}

.footer {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  margin: 0;
  text-shadow: 2px 2px 0 var(--block-background-color);;
}

@media (width >= 768px) {
  :root {
    --page-gap: 60px;
    --decor-gap: 20px;
    --header-padding: 20px;
    --main-padding: 0 20px;
    --header-padding-bottom: 21px;
    --main-gap: 80px;
  }

  .header-title {
    margin-inline-start: calc(-1 * var(--decor-gap));
  }

  .header__container-title-block {
    width: 50%;
  }

  .main__title-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--decor-gap);
  }

  .section-why,
  .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--decor-gap);
  }

  .main__container-block-images {
    gap: var(--decor-gap);
    grid-template-areas: 
      "img-sea img-sea img-icecream"
      "img-player img-books img-icecream"
      "img-player img-street img-street";
  }

  .main__container-block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-sea {
    grid-area: img-sea;
  }

  .img-icecream {
    grid-area: img-icecream;
  }

  .img-player {
    grid-area: img-player;
  }

  .img-books {
    grid-area: img-books;
  }

  .img-street {
    grid-area: img-street;
  }
}

@media (width >= 1024px) {
  .title {
    font-size: 157px;
  }

  .section-why,
  .section-how {
    gap: var(--section-text-gap);
  }

  .section-container-text-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--decor-gap);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}