/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  height: 100vh;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 23.4px;
  font-size: 18px;
  display: grid;
  gap: var(--page-gap);
}

.header {
  position: relative;
  height: 100vh;
  padding: var(--header-padding);
  background-image: var(--header-background-url);
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--decor-gap);
  right: var(--decor-gap);
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: var(--decor-gap);
  left: var(--decor-gap);
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  visibility: var(--visible);
  color: var(--decor-color);
  inset-block-start: var(--header-padding);
  inset-inline-end: calc(var(--header-padding) + 3px + 25px);
}

.header__rec::before {
  position: absolute;
  content: "";
  position: absolute;
  visibility: var(--visible);
  block-size: 5px;
  inline-size: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--decor-color);
  color: var(--decor-color);
  background-color: var(--decor-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--block-background-color);
  margin-bottom: 55px;
}

.header__theme-menu {
  margin-left: auto;
  margin-bottom: 65px;
}

.header__theme-menu-list{
  display: grid;
  grid-template-columns: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 0 13px;
  text-transform: lowercase;
  color: var(--decor-color);
  line-height: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  outline-offset: -1px;
}

.main {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px
}

.main__title {
  color: var(--decor-color);
}

.main__title-last {
  margin-bottom: -1px;
}

.section {
  display: grid;
  gap: 20px;
}

.main__container {
  display: grid;
  gap: 10px;
}

.container-title-block{
  background-color: var(--block-background-color);
}

.container-title-text {
  font-weight: bold;
}

.container-title-text-normal {
  font-weight: normal;
}

.main__container-text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--block-background-color);
}

.main__container-text-link:hover {
  outline: none;
  border-bottom: 1px solid var(--container-text-color);
}

.main__container-text-link:focus {
  outline: none;
}

.main__container-text-link:focus-visible {
  outline: 1px solid var(--container-text-colorr);
}

.main__section-image {
  display: grid;
  gap: 10px;
}

.main__container-text {
  color: var(--container-text-color);
}

.main__container-block-image {
  line-height: 0;
}

.main__container-block-image img {
  width: 100%;
  height: auto;
}

.footer {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  margin: 0;
  text-shadow: 2px 2px 0 var(--block-background-color);;
}